<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style4.css' />
    <link rel='stylesheet' href='/stylesheets/style5.css' />
    <title>Semesters</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        setTimeout(function() {
            $("#messages").fadeOut().empty();
        }, 1000);
    </script>
</head>
<body>
<div class="container">
    <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<form class="container"><input type="radio" name="title" id="book1" /><input type="radio" name="title" id="book2" /><input type="radio" name="title" id="book3" /><input type="radio" name="title" id="book4" /><input type="radio" name="title" id="book5" /><input type="radio" name="title"
                                                                                                                                                                                                                                                                     id="book6" /><input type="radio" name="title" id="book7" /><input type="radio" name="title" id="book8" /><input type="radio" name="title" id="book9" /><input type="radio" name="title" id="book10" /><input type="radio" name="title" id="book11" />
    <div
            class="surface">
        <div class="block b1">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="top"></div>
            </div>
        </div>
        <div class="block b2">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="top"></div>
            </div>
        </div>
        <div class="block b3">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="top"></div>
            </div>
        </div>
        <div class="block b4">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="top"></div>
            </div>
        </div>
        <div class="block b5">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="top"></div>
            </div>
        </div><label class="block b6" for="book1">
            <div class="block-inner"><div class="back"></div>
                <div class="bottom"></div><div class="front" ><div class="spine" >College Life: Volume 1
                    </div></div><div class="left"></div>
                <div class="right" data-title="A New Life Begins..."><div class="cover"></div><div class="contents" align="center"><h1>Take Me To</h1><a href="/main/1"><button align="center" type="button" class="btn btn-sm btn-primary"> Semester 1 &raquo;</button></a></div></div><div class="top"></div></div></label>
        <label
                class="block b7" for="book2">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front">
                    <div class="spine">College Life: Volume 2</div>
                </div>
                <div class="left"></div>
                <div class="right" data-title="With 'IT' comes Homesickness!">
                    <div class="cover"></div>
                    <div class="contents" align="center">
                        <h1>Take Me To</h1>
                        <a href="/main/2"><button align="center" type="button" class="btn btn-sm btn-primary">Semester 2 &raquo;</button></a>
                    </div>
                </div>
                <div class="top"></div>
            </div>
        </label>
        <label class="block b8" for="book3">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front">
                    <div class="spine">College Life: Volume 3</div>
                </div>
                <div class="left"></div>
                <div class="right" data-title="Plus a lot Of Fun and Friends..."><div class="cover"></div><div class="contents" align="center"><h1>Take Me To</h1><a href="/main/3"><button align="center" type="button" class="btn btn-sm btn-primary"> Semester 3 &raquo;</button></a></div></div><div class="top"></div></div></label>
        <label
                class="block b9" for="book4">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front">
                    <div class="spine">College Life: Volume 4</div>
                </div>
                <div class="left"></div>
                <div class="right" data-title="Toughest Semester so far...:(">
                    <div class="cover"></div>
                    <div class="contents"align="center">
                        <h1>Take Me To</h1>
                        <a href="/main/4"><button align="center" type="button" class="btn btn-sm btn-primary"> Semester 4 &raquo;</button></a>
                    </div>
                </div>
                <div class="top"></div>
            </div>
        </label><label class="block b10" for="book5"><div class="block-inner"><div class="back"></div><div class="bottom"></div><div class="front"><div class="spine">College Life: Volume 5</div></div><div class="left"></div><div class="right" data-title="Copying Assignments, Ditching Labs!"><div class="cover"></div><div class="contents" align="center"><h1>Take Me To </h1><a href="/main/5"><button align="center" type="button" class="btn btn-sm btn-primary"> Semester 5 &raquo;</button></a></div></div><div class="top"></div></div></label>
        <label
                class="block b11" for="book6">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front">
                    <div class="spine">College Life: Volume 6</div>
                </div>
                <div class="left"></div>
                <div class="right" data-title="Placement Season Ahead...">
                    <div class="cover"></div>
                    <div class="contents" align="center">
                        <h1>Take Me To</h1>
                        <a href="/main/6"><button align="center" type="button" class="btn btn-sm btn-primary"> Semester 6 &raquo;</button></a>
                    </div>
                </div>
                <div class="top"></div>
            </div>
        </label><label class="block b12" for="book7"><div class="block-inner"><div class="back"></div><div class="bottom"></div><div class="front"><div class="spine">College Life: Volume 7</div></div><div class="left"></div><div class="right" data-title="3 letters        FUN"><div class="cover"></div><div class="contents" align="center"><h1>Take Me To</h1><a href="/main/7"><button align="center" type="button" class="btn btn-sm btn-primary"> Semester 7 &raquo;</button></a></div></div><div class="top"></div></div></label>
        <label
                class="block b13" for="book8">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front">
                    <div class="spine">College Life: Volume 8</div>
                </div>
                <div class="left"></div>
                <div class="right" data-title="The Last Chapter...">
                    <div class="cover"></div>
                    <div class="contents"align="center">
                        <h1>Take Me To</h1>
                        <a href="/main/8"><button align="center" type="button" class="btn btn-sm btn-primary"> Semester 8 &raquo;</button></a>
                    </div>
                </div>
                <div class="top"></div>
            </div>
        </label>
        <label class="block b14" for="book9"><div class="block-inner"><div class="back"></div><div class="bottom"></div><div class="front"><div class="spine">Web Development</div></div><div class="left"></div><div class="right" data-title="Served Fresh From StackOverflow"><div class="cover"></div><div class="contents" align="center"><h1>Take Me To</h1><br><br><a href="#"><button align="center" type="button" class="btn btn-sm btn-primary"> WebWorld &raquo;</button></a></div></div><div class="top"></div></div></label>
        <label
                class="block b15" for="book10">
            <div class="block-inner">
                <div class="back"></div>
                <div class="bottom"></div>
                <div class="front">
                    <div class="spine">For Code GEEKS!</div>
                </div>
                <div class="left"></div>
                <div class="right" data-title="Coding Culture @iiita">
                    <div class="cover"></div>
                    <div class="contents" align="center">
                        <h1>Take Me To</h1>
                        <a href="#"><button align="center" type="button" class="btn btn-sm btn-primary">CodeWorld &raquo;</button></a>

                    </div>
                </div>
                <div class="top"></div>
            </div>
        </label><label class="block b16" for="book11"><div class="block-inner"><div class="back"></div><div class="bottom"></div><div class="front"><div class="spine">Add Ons</div></div><div class="left"></div><div class="right" data-title="The Side Dish"><div class="cover"></div><div class="contents" align="center"><h1>Take Me To</h1><a href="#"><button align="center" type="button" class="btn btn-sm btn-primary"> Add Ons &raquo;</button></a></div></div><div class="top"></div></div></label></div>
    <input type="reset" value="Try Another" /></form>
<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
    <a class="navbar-brand" href="/"><img src="/images/logo2.png" height="55" width="80" border-radius="50%"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav rounded-right">
            <li class="nav-item">
                <a class="nav-link" href="/main/profile">My Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<%- messages('message', locals) %>
<script src='/bower_components/jquery/dist/jquery.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>
</body>
</html>